.team-list img {
  width: 50%;
  padding-top: 30px;
}

.team-list .content {
  width: 50%;
}

.team,
.team-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.shadow {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
}



.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}

.list-inline-item:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 0px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .team-list img {
    width: 100%;
    padding-top: 10px;
  }

  .team-list .content {
    width: 100%;
  }
}
