<app-cover [componentName]="componentName"></app-cover>

<section class="section-padding">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <h5 class="alert-heading">{{ 'INVENTION_MESSAGE' | translate }}</h5>
                    <p></p>

                </blockquote>
            </div>
            <div class="col-md-12 mt-4" id="mform">
                <form [formGroup]="inventorForm" (ngSubmit)="submitInventorForm()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">{{ 'NAME' | translate }}<span class="required-field">*</span></label>
                            <input type="text" class="form-control" formControlName="inventor_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="title">{{ 'TITLE' | translate }}<span class="required-field">*</span></label>
                            <input type="text" class="form-control" formControlName="title">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contents">{{ 'CONTENTS' | translate }}<span
                                    class="required-field">*</span></label>
                            <input type="text" class="form-control" formControlName="contents">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">{{ 'MOBILE_NUMBER' | translate }}</label>
                            <input type="text" class="form-control" formControlName="mobileNumber">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">{{ 'EMAIL' | translate }}</label>
                            <input type="email" class="form-control" formControlName="email">
                        </div>
                        <div class="form-group col-md-">
                            <label for="">{{ 'ATTACHMENT' | translate }}</label>
                            <input type="file" class="form-control-file" (change)="uploadAttachement($event)"
                                multiple="" formControlName="image">
                        </div>

                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{ 'SUBMIT' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
        <ng-template #nodata>
            <div class="">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>

</section>