<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/logo/whiteLogo.png" class="img-fluid logo" alt="">
                <p class="text-right">{{ 'YES' | translate }}</p>
            </div>
            <div class="col-md-4">
                <h5>{{ "QUICK-LINKS" | translate }}</h5>
                <hr />
                <ul class="links">
                    <li><a href="/">{{"HOME" | translate}}</a></li>
                    <li><a routerLink="/about-us">{{"ABOUT_US" | translate}}</a></li>
                    <li><a>{{"MENU.MEMORY_SPORT" | translate}}</a></li>
                    <li><a>{{"MENU.DISCUSSION_BOARD" | translate}}</a></li>
                    <li><a>{{"MENU.BLOGS" | translate}}</a></li>
                    <li><a>{{"MENU.YOUTH_NEWS" | translate}}</a></li>
                    <li><a>{{"MEMBERSHIP" | translate}}</a></li>
                    <li><a>{{"CONTACT_US" | translate}}</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>{{ "CONTACT-INFO" | translate }}</h5>
                <hr />
                <span><i class="icofont-phone"></i> +93-700000000</span>
                <span><i class="icofont-email"></i> email@gmail.com</span>
                <span>
                    <ul class="social  mt-3">
                        <li><a href="#"><i class="icofont-facebook"></i></a></li>
                        <li><a href="#"><i class="icofont-twitter"></i></a></li>
                        <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                        <li><a href="#"><i class="icofont-youtube"></i></a></li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="copyright" />
                <!-- <p class="text-center">All Rights Reserved YES</p> -->
            </div>
        </div>
    </div>
    <div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 900">
        <i class="icofont-arrow-up"></i>
    </div>
</footer>