<div class="container">
    <nav class="navbar navbar-expand-md btco-hover-menu navbar-1 mainmenu" id="navbar-1">
        <a routerLink="/" data-scroll class="navbar-brand">
            <img src="assets/images/logo/mainLogo.png" id="logo" class="img-fluid desktop" alt="">
            <img src="assets/images/logo/mainLogo.png" class="img-fluid mobile" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <ng-container *ngFor="let m of menuList; let i = index">
                    <ng-container *ngIf="!m.submenu;else has_submenu">
                        <li class="active"><a href="#">{{m.translate | translate}}</a></li>
                    </ng-container>
                    <ng-template #has_submenu>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">{{m.translate
                                | translate}}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <ng-container *ngFor="let sm of m.submenu; let s = index">
                                    <ng-container *ngIf="!sm.submenu;else has_ssubmenu">
                                        <li><a routerLink="{{ sm.page }}">{{sm.translate |translate }}</a></li>
                                        <p class="dropdown-divider" *ngIf="s < m.submenu.length - 1"></p>
                                    </ng-container>
                                    <ng-template #has_ssubmenu>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">{{sm.translate |translate }}</a>
                                            <p class="dropdown-divider" *ngIf="s < m.submenu.length - 1"></p>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <ng-container *ngFor="let ssm of sm.submenu; let ss = index">
                                                    <li><a routerLink="{{ ssm.page }}">{{ssm.translate | translate
                                                            }}</a>
                                                    </li>
                                                    <p class="dropdown-divider" *ngIf="ss < sm.submenu.length - 1">
                                                    </p>
                                                </ng-container>
                                            </ul>
                                        </li>
                                    </ng-template>
                                </ng-container>
                            </ul>
                        </li>
                    </ng-template>
                </ng-container>
            </ul>
            <ul class="navbar-nav marginLTR">
                <ng-container>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle" data-scroll href="#lang" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/language.svg" style="width:34px" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ng-container *ngFor="let language of languages ;let l = index">
                                <li (click)="changeLang(language.value)">
                                    <a>
                                        <img [src]="'assets/images/flags/' + language.icon" alt="">&nbsp;&nbsp;
                                        <span>{{ language.name }}</span>
                                        <img class="check-img" *ngIf="selectedLang == language.value"
                                            src="assets/images/check.png">
                                    </a>
                                </li>
                                <p class="dropdown-divider" *ngIf="l < languages.length - 1"></p>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</div>