<app-cover [componentName]="componentName"></app-cover>


<section class="section-padding-light">
    <div class="container">
        <div class="row" *ngIf="honoraryProfiles && honoraryProfiles.length; else noData">
            <div class="col-md-4" *ngFor="let honorary of honoraryProfiles">
                <div class="member">
                    <img [src]="honorary?.photo.url" (error)="imageError($event.target)" class="img-team">
                    <div class="member-text">
                        <h5 (click)="redirectToProfileDetails(honorary?.id)">{{honorary?.name}}</h5>
                        <p> {{ honorary?.shortBrief }} </p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noData>
            <div class=" row">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>
</section>