<header id="header" class="header-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner-text">
                    <h1 class="text-center">{{ "YOUTH-NEWS" | translate }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- 
<div class="recentposts section-padding">
    <div class="container">
        <div class="row" *ngIf="youthNews; else nodata">
            <div class="col-lg-4 col-md-4" *ngFor="let news of youthNews">
                <div class="blog-item">
                    <div class="blog-img"> <img [src]="news?.photos[0].url" alt="" (error)="imageError($event.target)">
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">
                            <h3 (click)="showNewsDetails(news.id)">{{ news?.title }}</h3>
                        </div>
                        <div class="blog-meta">
                            <div class="blog-date"> <span>{{ news?.createdDay }} {{ news?.createdMonth}} {{
                                    news?.createdYear}}</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #nodata>
            <div class="">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>
</div> -->



<div class="blog-home2 py-5">
    <div class="container">
        <!-- Row 
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="my-3">{{ "YOUTH-NEWS" | translate }}</h3>
                <h6 class="subtitle font-weight-normal"></h6>
            </div>
        </div> -->
        <div class="row mt-4" *ngIf="youthNews; else noData">
            <!-- Column -->
            <div class="col-md-4 on-hover" *ngFor="let news of youthNews">
                <div class="card border-0 mb-4">
                    <a><img class="card-img-top" [src]="news?.photos[0].url" alt=""
                            (error)="imageError($event.target)"></a>
                    <div
                        class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">
                        {{ news?.createdMonth}}<span class="d-block">{{ news?.createdDay }}</span></div>
                    <div class="blog-title mt-2">
                        <h3 (click)="showNewsDetails(news.id)">{{ news?.title }}</h3>
                    </div>
                    <a (click)="showNewsDetails(news.id)" class="text-decoration-none linking text-themecolor mt-2">{{
                        'READ_MORE' | translate }}</a>
                </div>

            </div>
        </div>
        <ng-template #noData>
            <div class="">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>
</div>