<header id="header" class="header-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner-text">
                    <h1 class="text-center">{{ 'LABEL.SUCCESS_STORIES' | translate}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="section-padding-light">
    <div class="container">
        <div class="row" *ngIf="successStories; else noData">
            <div class="col-md-4" *ngFor="let ss of successStories">
                <div class="member">
                    <img [src]="ss.photos[0].url" (error)="imageError($event.target)" class="img-team" alt="">
                    <div class="member-text">
                        <h5 (click)="redirectToStoryDetails(ss.id)">{{ss?.name}}</h5>
                        <p> {{ ss?.shortBrief }} </p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noData>
            <div class=" row">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>
</section>