<app-cover [componentName]="componentName"></app-cover>


<section class="section-padding-light">
    <div class="container">
        <div class="mt-4" *ngIf="successStories && successStories.length; else noData">
            <div class="row">
                <div class="col-md-4"
                    *ngFor="let ss of successStories | paginate: { itemsPerPage: limit, currentPage: offset, totalItems: total }">
                    <div class="member">
                        <img [src]="ss.photos[0].url" (error)="imageError($event.target)" class="img-team">
                        <div class="member-text">
                            <h5 (click)="redirectToStoryDetails(ss.id)">{{ss?.name}}</h5>
                            <p> {{ ss?.shortBrief }} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-5">
                <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true" maxSize="9"
                    previousLabel="{{ 'PAGINATION_PREVIOUS' | translate }}"
                    nextLabel="{{ 'PAGINATION_NEXT' | translate }}">
                </pagination-controls>
            </div>
        </div>

        <ng-template #noData>
            <div class=" row">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>
</section>