<header id="header" class="header-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner-text">
                    <h1 class="text-center">{{ 'LABEL.SUCCESS_STORIES' | translate}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="blog" class="recentposts section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget">
                        <h3>Recent Posts</h3>
                        <hr />
                        <ul>
                            <li><a href="#">How To Make Simple HTML Email Coding With Easy Way.</a></li>
                            <li><a href="#">How To Make Simple HTML Email Coding With Easy Way.</a></li>
                            <li><a href="#">How To Make Simple HTML Email Coding With Easy Way.</a></li>
                            <li><a href="#">How To Make Simple HTML Email Coding With Easy Way.</a></li>
                            <li><a href="#">How To Make Simple HTML Email Coding With Easy Way.</a></li>
                            <li><a href="#">How To Make Simple HTML Email Coding With Easy Way.</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3>Categories</h3>
                        <hr />
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Seo</a></li>
                            <li><a href="#">Blogging</a></li>
                            <li><a href="#">Online Marketing</a></li>
                            <li><a href="#">App Development</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3>Tags</h3>
                        <hr />
                        <div class="tagcloud"><a href="#">Business</a><a href="#">Selling</a><a href="#">Digital
                                Products</a><a href="#">Envato</a><a href="#">Themeforest</a><a href="#">Codecanyon</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row" *ngIf="successStories; else noData">
                    <div class="col-lg-6 col-md-6" *ngFor="let ss of successStories">
                        <div class=" blog-item">
                            <div class="blog-img">
                                <img class="np-feature-image" [src]="ss.photos[0].url"
                                    (error)="imageError($event.target)" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-title">
                                    <h3><a (click)="redirectToStoryDetails(ss.id)">{{ss?.title}}</a></h3>
                                    <p [innerHTML]="ss?.description | parsehtml | safe"></p>
                                </div>
                                <div class="blog-meta">
                                    <div class="blog-author">
                                        <h4>{{ss?.author}}</h4>
                                        <!-- <h5>SEO Manager</h5> -->
                                    </div>
                                    <div class="blog-date"> <span>{{ss?.createdDay}} {{ss?.createdMonth}} <br />
                                            {{ss?.createdYear}}</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noData>
                    <div class="row">
                        <div class="jumbotron no-data">
                            <div [class.dot-falling]="loading"></div>
                            <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>