<app-cover [componentName]="componentName"></app-cover>

<div id="blog" class="recentposts section-padding">
    <div class="container">
        <div class="row" *ngIf="activityDetails; else noData">
            <div class="col-lg-12 col-md-12">
                <div class="blog-item">
                    <div class="blog-details">
                        <div class="blog-details-meta mt-3 mb-3">
                            <span><i class="icofont-calendar"></i> {{activityDetails?.createdMonth}}
                                {{activityDetails?.createdDay}},
                                {{activityDetails?.createdYear}} </span>
                        </div>
                        <div class="blog-title-body">
                            <h2>{{ activityDetails?.title }}</h2>
                            <p [innerHTML]="activityDetails?.contents | parsehtml | safe"></p>

                        </div>
                    </div>
                </div>
            </div>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
            </ngx-gallery>
        </div>
        <ng-template #noData>
            <div class="">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>
</div>