<header id="header" class="header-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner-text">
                    <h1 class="text-center">{{ "MENU.EMPLOYEMENT" | translate }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="section-padding">
    <div class="container" id="mform">
        <form [formGroup]="employmentForm">
            <div class="form-row">
                <div class="form-group col">
                    <label>{{'FIRST_NAME' | translate}}<span class="required-field">*</span></label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group col">
                    <label>{{'LAST_NAME' | translate}}<span class="required-field">*</span></label>
                    <input type="text" class="form-control" formControlName="lastName">
                </div>
                <div class="form-group col">
                    <label>{{'FATHER_NAME' | translate}}<span class="required-field">*</span></label>
                    <input type="text" class="form-control" formControlName="fatherName">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>{{'NID_NUMBER' | translate}}<span class="required-field">*</span></label>
                    <input type="text" class="form-control" formControlName="nidNumber">
                </div>
                <div class="form-group col">
                    <label>{{'GENDER' | translate}}<span class="required-field">*</span></label>
                    <select class="form-control" formControlName="gender">
                        <option value="" selected disabled>{{'SELECT_AN_OPTION' | translate}}</option>
                        <option value="female">{{'FEMALE' | translate}}</option>
                        <option value="male">{{'MALE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label>{{'DATE_OF_BIRTH' | translate}}</label><br>
                    <dp-date-picker formControlName="dateOfBirth" theme="dp-material"></dp-date-picker>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>{{'MOBILE_NUMBER' | translate}}<span class="required-field">*</span></label>
                    <input type="text" class="form-control" formControlName="mobileNumber">
                </div>
                <div class="form-group col">
                    <label>{{'EMAIL' | translate}}<span class="required-field">*</span></label>
                    <input type="" class="form-control" formControlName="email">
                </div>
                <div class="form-group col">
                    <label>{{'ADDRESS' | translate}}</label>
                    <input type="text" class="form-control" formControlName="address">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>{{'DEGREE' | translate}}<span class="required-field">*</span></label>
                    <select class="form-control" formControlName="degree">
                        <option value="" selected disabled>{{'SELECT_AN_OPTION' | translate}}</option>
                        <option value="bachelor">{{'BACHELOR' | translate}}</option>
                        <option value="master">{{'MASTER' | translate}}</option>
                        <option value="doctoral">{{'DOCTORAL' | translate}}</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label>{{'ACADEMIC_FIELD' | translate}}</label>
                    <input type="text" class="form-control" formControlName="academicField">
                </div>
                <div class="form-group col">
                    <label>{{'WORK_EXPERIENCE' | translate}}</label>
                    <input type="text" class="form-control" formControlName="workExperience">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>{{'LANGUAGES' | translate}}</label>
                    <input type="text" class="form-control" formControlName="languages">
                </div>
                <div class="form-group col">
                    <label>{{'SKILL' | translate}}</label>
                    <input type="text" class="form-control" formControlName="skill">
                </div>
                <div class="form-group col">
                    <label>{{'CV' | translate}}<span class="required-field">*</span></label>
                    <input type="file" class="form-control" formControlName="cv" (change)="uploadCV($event)">
                </div>
            </div>
            <div class="form-row justify-content-center">
                <button (click)="submitEmploymentForm()" type="button" class="btn btn-primary">
                    {{ 'SUBMIT'|translate }}</button>
            </div>
        </form>
    </div>
</div>