<header id="header" class="header-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner-text">
                    <h1 class="text-center">{{ 'MENU.COMPLAINS' | translate }} </h1>
                    <!-- <h5 class="text-center"><a class="breadcrumb-link" href="#">Home</a> > Blog Posts</h5> -->
                </div>
            </div>
        </div>
    </div>
</header>

<section class="contact section-padding">
    <div class="container">
        <!-- <h3 class="text-center text-uppercase">{{ 'MENU.COMPLAINS' | translate }} </h3> -->
        <p class="text-center w-75 m-auto">{{ "COMPLAINS.MESSAGE" | translate }}</p>
        <hr>
        <div class="row">

            <div class="col-md-12 mt-4" id="mform">
                <form [formGroup]="complainForm" (ngSubmit)="submitComplainForm()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">{{ "CONTACT_NAME" | translate }}<span
                                    class="required-field">*</span></label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">{{ "CONTACT_EMAIL" | translate }}<span class="required-field">*</span>
                            </label>
                            <input type="email" class="form-control" id="email" formControlName="email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="subject">{{ "CONTACT_SUBJECT" | translate }}<span
                                    class="required-field">*</span> </label>
                            <input type="text" class="form-control" id="subject" formControlName="subject">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="message">{{"CONTACT_MESSAGE" | translate }}<span
                                    class="required-field">*</span></label>
                            <textarea class="form-control" id="message" rows="3" formControlName="message"></textarea>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{ 'SEND_COMPLAIN' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>