<app-cover [componentName]="componentName"></app-cover>

<section class="section-padding">
    <div class="container">
        <div class="row m-2">
            <button (click)="addInventor();" type="button"
                class="btn btn-outline-secondary invention-message">{{'ADD_INVENSION' | translate
                }}</button>
        </div>
        <hr>
        <div class="row" *ngIf="inventors && inventors.length; else noData">
            <div class="col-md-4" *ngFor="let inventor of inventors">
                <div class="card" style="width: 23rem;">
                    <a><img [src]="inventor?.photos[0]?.url" (error)="imageError($event.target)" class="card-img-top"
                            alt="..."></a>
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <h3 class="card-title h5 mt-1 mb-3 d-block"
                                (click)="redirectToInventorDetails(inventor.id)">{{ inventor?.title }}</h3>
                        </div>
                        <p class="card-text text-muted" [innerHTML]="inventor?.contents"></p>
                    </div>
                </div>


            </div>
        </div>
        <ng-template #noData>
            <div class="">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>

    </div>

</section>