<div id="clients" class="clients">
	<div class="container">
    <div class="clients-cont">
    	<div class="row justify-content-center">
      		<div class="col-md-2">
            	<div class="client"><img src="assets/images/codepen.png" class="img-fluid" alt=""></div>
            </div>
            <div class="col-md-2">
            	<div class="client"><img src="assets/images/github.png" class="img-fluid" alt=""></div>
            </div>
            <div class="col-md-2">
            	<div class="client"><img src="assets/images/envato.png" class="img-fluid" alt=""></div>
            </div>
            <div class="col-md-2">
            	<div class="client"><img src="assets/images/wordpress.png" class="img-fluid" alt=""></div>
            </div>
            <div class="col-md-2">
            	<div class="client"><img src="assets/images/jquery.png" class="img-fluid" alt=""></div>
            </div>
        </div>
    </div>    
    </div>
</div> 
<footer id="footer" class="footer">
	<div class="container">
    	<div class="row">
        	<div class="col-md-4">
                <img src="assets/images/logo-2_old.png" class="img-fluid logo" alt="">
                <p>Experienced In Mortgage And Financial Advice! We don't believe in the sales culture.</p>
                <ul class="social">
                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                    <li><a href="#"><i class="icofont-linkedin"></i></a></li>
                    <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                    <li><a href="#"><i class="icofont-dribble"></i></a></li>
            	</ul> 
            </div>
            <div class="col-md-4">
            	<h5>Usefull Links</h5>
                <hr/>
                <ul class="links">
                	<li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Clients</a></li>
                </ul>
            </div>
            <div class="col-md-4">
            	<h5>Contact Info</h5>
                <hr/>
                <p><i class="icofont-google-map"></i> Vibropac B.V. Postbus 437 3400 AK IJSSELSTEIN</p>
                <p><i class="icofont-phone"></i> 030-54563584</p>
            </div>
        </div>
        <div class="row"><div class="col-md-12"><hr class="copyright"/><p class="text-center">Copyright &copy; 2020. All Rights Reserved.</p></div></div>
    </div>
</footer>  
<div id="qnimate" class="off">
  <div id="search" class="open">
    <button data-widget="remove" id="removeClass" class="close" type="button">×</button>
    <form action="#" method="post" autocomplete="off">
      <input type="text" placeholder="Type search keywords here" value="" name="term" id="term">
      <button class="btn btn-yellow btn-xl" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>
    </form>
  </div>
</div> 