<header id="header" class="header-inner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-inner-text">
          <h1 class="text-center">{{ 'BLOG-DETAILS' | translate }} </h1>
          <!-- <h5 class="text-center"><a class="breadcrumb-link" href="#">Home</a> > Blog Posts</h5> -->
        </div>
      </div>
    </div>
  </div>
</header>
<div id="blog" class="recentposts section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="blog-item">
              <!-- <div class="blog-img"> <img src="assets/images/header-1.png" alt=""> </div> -->
              <div class="blog-details">
                <div class="blog-details-meta">
                  <span><a href="#"><i class="icofont-user-alt-3 mt-2 mb-2"></i> {{ blogDetails?.author}}</a></span>
                  <span><i class="icofont-calendar"></i> April 30, 2019 </span>
                </div>
                <div class="blog-title-body">
                  <h2>{{ blogDetails?.title }}</h2>
                  <p [innerHTML]="blogDetails?.brief | parsehtml | safe"></p>

                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>