<app-cover [componentName]="componentName"></app-cover>

<section id="about" class="about section-padding">
    <div class="container">
        <div class="row" *ngIf="aboutUs; else nodata">
            <div class="col-md-12">
                <h2>{{ aboutUs?.title }}</h2>
                <div class="col-md-12">
                    <h6>{{ 'VISION' | translate }}</h6>
                    <p [innerHTML]="aboutUs?.vision | parsehtml | safe"></p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12">
                    <h6>{{ 'MISSION' | translate }}</h6>
                    <p [innerHTML]="aboutUs?.mission | parsehtml | safe"></p>
                </div>
            </div>

            <div class="col-md-12">
                <h6>{{ 'ABOUT_US' | translate }}</h6>
                <p [innerHTML]="aboutUs?.brief | parsehtml | safe"></p>
                <!-- <br> -->
                <p [innerHTML]="aboutUs?.description | parsehtml | safe"></p>
            </div>
            <!-- <p class="text-black-50 text-center"> Connect young people with opportunities to transform their lives.</p> -->
            <!-- <div class="col-md-12"><img [src]="aboutUs?.photos[0]?.url" class="img-fluid" alt="about"></div> -->
        </div>
        <ng-template #nodata>
            <div class="">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>
</section>