<header id="header" class="header-1"
  [ngStyle]="{'background-image': 'linear-gradient(to bottom, black, rgba(39, 35, 97, 0) 100%), url(' + coverDetails?.media.url + ')'}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-1-text">
          <h1 class="text-center">{{ coverDetails?.slogan }}</h1>
          <h5 class="text-center">{{ coverDetails?.quote}} <br />{{coverDetails?.quotee_name
            }} </h5>
          <!-- <p><a class="btn btn-yellow" href="#">View Our Profile</a> <a class="btn btn-red" href="#">Check Shop Page</a>
          </p> -->
        </div>
      </div>
    </div>
  </div>
</header>
<section class="features">
  <div class="container">
    <div class="features-cont">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let p of photos">
          <ng-template carouselSlide>
            <div class="">
              <div class="np-news-card">
                <div class="np-news-card-wrapper">
                  <img [src]="p.src" alt="" class="card-img">
                  <div class="contents bg-gradient">
                    <h5 class="text-white">{{ p.title }}</h5>
                  </div>
                  <!-- <div class="news-date">
                      <h4 class="text-white">2</h4>
                      <p class="text-white">June</p>
                    </div> -->
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>

      </owl-carousel-o>
    </div>
  </div>
</section>
<section id="about" class="about section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>{{ 'ABOUT_US' | translate }}</h6>
        <h2>{{ aboutUs?.title }}</h2>
        <p>{{ aboutUs?.body }}</p>
        <!-- <ul>
          <li>Vitae dicta sunt explicabo nemo enim ipsay voluptatem</li>
          <li>It is a long established fact that a reader will be distracted</li>
          <li>By the readable content of a page when</li>
          <li>The point of using Lorem Ipsum is that it has a more-or-less</li>
        </ul> -->
        <a class="btn btn-primary" href="#">View Details</a>
      </div>
      <div class="col-md-6"><img [src]="aboutUs?.media[0]?.url" class="img-fluid" alt="about"></div>
    </div>
  </div>
</section>

<!--  -->
<!-- <section class="caption">
  <div class="container">
    <div class="caption-cont">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2>Lets Start Together & Create a new thing</h2>
          <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h6>
        </div>
        <div class="col-md-4"><a class="btn btn-transparent alignright" href="#">View Details</a></div>
      </div>
    </div>
  </div>
</section> -->
<section id="services" class="services section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center section-title">
          <h6>Services</h6>
          <h2 class="text-center">What we serve to our clients</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service">
          <i class="icofont-paint bg-color-1"></i>
          <h5>Web Design Service</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content </p>
          <a href="#"><i class="icofont-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="icofont-brand-android-robot bg-color-2"></i>
          <h5>Mobile App Development</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content </p>
          <a href="#"><i class="icofont-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="icofont-code-alt bg-color-3"></i>
          <h5>Web Development Service</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content </p>
          <a href="#"><i class="icofont-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="icofont-dashboard-web bg-color-3"></i>
          <h5>Digital Marketing</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content </p>
          <a href="#"><i class="icofont-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="icofont-support bg-color-1"></i>
          <h5>Online Classes</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content </p>
          <a href="#"><i class="icofont-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="icofont-live-support bg-color-2"></i>
          <h5>Online Consultancy</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content </p>
          <a href="#"><i class="icofont-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="team" class="team section-padding-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center section-title">
          <h6>Team</h6>
          <h2 class="text-center">Lets introduce with our team</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="member">
          <img src="assets/images/member-1.jpg" class="img-fluid" alt="">
          <div class="member-text">
            <h5>Alex Jhonson <small>(Coder)</small></h5>
            <p>It is a long established fact that a reader will be distracted by the readable content </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="member">
          <img src="assets/images/member-2.jpg" class="img-fluid" alt="">
          <div class="member-text">
            <h5>Eric Jhonson <small>(Coder)</small></h5>
            <p>It is a long established fact that a reader will be distracted by the readable content </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="member">
          <img src="assets/images/member-3.jpg" class="img-fluid" alt="">
          <div class="member-text">
            <h5>Emma Jhonson <small>(Coder)</small></h5>
            <p>It is a long established fact that a reader will be distracted by the readable content </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section id="portfolio" class="portfolio section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center section-title">
          <h6>Portfolio</h6>
          <h2 class="text-center">Our previous works</h2>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="portfolioFilter text-center"> <a href="#" data-filter="*" class="current">All Categories</a> <a
            href="#" data-filter=".seo">SEO</a> <a href="#" data-filter=".html">HTML</a> <a href="#"
            data-filter=".wordpress">Wordpress</a> </div>
      </div>
    </div>
    <div class="row portfolioContainer">
      <div class="col-lg-4 col-md-6 html seo">
        <div class="portfolio-item"> <img src="assets/images/portfolio-1.png" alt="">
          <div class="portfolio-content">
            <h3>SEO Optimization</h3>
            <p><span class="far fa-folder"></span> Marketing</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wordpress">
        <div class="portfolio-item"> <img src="assets/images/portfolio-2.png" alt="">
          <div class="portfolio-content">
            <h3>SEO Optimization</h3>
            <p><span class="far fa-folder"></span> Marketing</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 html">
        <div class="portfolio-item"> <img src="assets/images/portfolio-3.png" alt="">
          <div class="portfolio-content">
            <h3>SEO Optimization</h3>
            <p><span class="far fa-folder"></span> Marketing</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wordpress seo">
        <div class="portfolio-item"> <img src="assets/images/portfolio-4.png" alt="">
          <div class="portfolio-content">
            <h3>SEO Optimization</h3>
            <p><span class="far fa-folder"></span> Marketing</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 html seo">
        <div class="portfolio-item"> <img src="assets/images/portfolio-5.png" alt="">
          <div class="portfolio-content">
            <h3>SEO Optimization</h3>
            <p><span class="far fa-folder"></span> Marketing</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wordpress">
        <div class="portfolio-item"> <img src="assets/images/portfolio-6.png" alt="">
          <div class="portfolio-content">
            <h3>SEO Optimization</h3>
            <p><span class="far fa-folder"></span> Marketing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section class="caption2">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h2>Perfect Solutions <span>Free online consultation</span></h2>
        <p>Is a long established fact that a reader will be distracted by the readable content of a page when looking at
          its layout. The point of using Lorem Ipsum is tha</p>
        <div class="number">+91 2333 524-8798</div>
      </div>

    </div>
  </div>
</section> -->

<section id="blog" class="recentposts section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center section-title">
          <h6>Recent posts</h6>
          <h2 class="text-center">Our previous works</h2>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 remb-30">
        <div class="blog-item h2-blogitem">
          <div class="blog-img"> <img src="assets/images/post-1.jpg" alt=""> </div>
          <div class="blog-content">
            <div class="blog-title">
              <h3><a href="#">Startup Marketing Solution for Business Owner.</a></h3>
              <p>is simply dummy text of the printing and type tting industry. Lorem Ipsum has been.</p>
            </div>
            <div class="blog-meta">
              <div class="blog-author">
                <h4>Eva Rakim</h4>
                <h5>SEO Manager</h5>
              </div>
              <div class="blog-date"> <span>23 Des <br />
                  2019</span> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 remb-30">
        <div class="blog-item h2-blogitem">
          <div class="blog-img"> <img src="assets/images/post-2.jpg" alt=""> </div>
          <div class="blog-content">
            <div class="blog-title">
              <h3><a href="#">How to start a Business with no money</a></h3>
              <p>is simply dummy text of the printing and type tting industry. Lorem Ipsum has been.</p>
            </div>
            <div class="blog-meta">
              <div class="blog-author">
                <h4>Mark Jacobs</h4>
                <h5>Web Desinger</h5>
              </div>
              <div class="blog-date"> <span>05 Jun <br />
                  2019</span> </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item h2-blogitem">
          <div class="blog-img"> <img src="assets/images/post-3.jpg" alt=""> </div>
          <div class="blog-content">
            <div class="blog-title">
              <h3><a href="#">How to earn money online by selling courses</a></h3>
              <p>is simply dummy text of the printing and type tting industry. Lorem Ipsum has been.</p>
            </div>
            <div class="blog-meta">
              <div class="blog-author">
                <h4>Alex Jhonson</h4>
                <h5>Business Developer</h5>
              </div>
              <div class="blog-date"> <span>12 Jan <br />
                  2019</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>