<header id="header" class="header-1"
    [ngStyle]="{'background-image': 'linear-gradient(to bottom, black, rgba(39, 35, 97, 0) 100%), url(' + coverDetails?.photo.url + ')'}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-1-text">
                    <h1 class="text-center">{{ coverDetails?.slogan }}</h1>
                    <h5 class="text-center" [innerHTML]="coverDetails?.quote | parsehtml | safe"></h5>
                    <h5 class="text-center">{{coverDetails?.quotee_name }}</h5>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="features">
    <div class="container">
        <div class="features-cont" *ngIf="youthNews; else nodata">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let yn of youthNews">
                    <ng-template carouselSlide>
                        <div class="np-news-card">
                            <div class="np-news-card-wrapper">
                                <img [src]="yn?.photos[0]?.url" alt="" class="card-img">
                                <div class="contents bg-gradient">
                                    <h5 class="text-white" (click)="showNewsDetails(yn.id)">{{ yn?.title }}</h5>
                                </div>
                                <div class="news-date">
                                    <h4 class="text-white">{{ yn?.createdDay}}</h4>
                                    <p class="text-white">{{ yn?.createdMonth}}</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
</section>
<section id="about" class="about section-padding">
    <div class="container">
        <div class="row" *ngIf="aboutUs; else nodata">
            <div class="col-md-6">
                <h6>{{ 'ABOUT_US' | translate }}</h6>
                <h2>{{ aboutUs?.title }}</h2>
                <p [innerHTML]="aboutUs?.brief | parsehtml | safe"></p>
                <a class="btn btn-primary" routerLink="/about-us">{{ "VIEW-DETAILS" | translate}}</a>
            </div>
            <div class="col-md-6"><img [src]="aboutUs?.photos[0]?.url" class="img-fluid" alt="about"></div>
        </div>
    </div>
</section>

<section id="team" class="team section-padding-light">
    <div class="container" *ngIf="successStories; else nodata">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center section-title">
                    <h6 class="text-center">{{ 'LABEL.SUCCESS_STORIES' | translate }}</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let ss of successStories">
                <div class="member">
                    <img [src]="ss.photos[0].url" (error)="imageError($event.target)" class="img-team" alt="">
                    <div class="member-text">
                        <h5 (click)="redirectToStoryDetails(ss.id)">{{ss?.name}}</h5>
                        <p> {{ ss?.shortBrief }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="blog" class="recentposts section-padding" *ngIf="recentBlogs; else nodata">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center section-title">
                    <h6>{{ 'RECENT-BLOGS' | translate }}</h6>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 remb-30" *ngFor="let blog of recentBlogs">
                <div class="blog-item h2-blogitem">
                    <div class="blog-img"> <img [src]="blog?.photos[0].url" alt="" (error)="imageError($event.target)">
                    </div>
                    <div class="blog-content">
                        <div class="blog-title">
                            <h3 (click)="showBlogDetails(blog.id)">{{ blog?.title }}</h3>
                            <!-- <p [innerHTML]="blog?.shortBrief | parsehtml | safe"></p> -->
                        </div>
                        <div class="blog-meta">
                            <div class="blog-author">
                                <h4>{{ blog?.author}}</h4>
                            </div>
                            <div class="blog-date"> <span>{{ blog?.createdDay}} {{ blog?.createdMonth}} <br />
                                    {{blog?.createdYear}}</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<ng-template #nodata>
    <div class="">
        <div class="jumbotron no-data">
            <div [class.dot-falling]="loading"></div>
            <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
        </div>
    </div>
</ng-template>
<ngx-spinner></ngx-spinner>