/*-----------------------------------------------------------------------------------
    CSS INDEX
    ===================
	1.Default
	2.Navbar
	3.Header
	4.Features
	5.About us
	6.Caption
	7.Services
	8.Team
	9.Portfolio
	10.Blog
	11.Caption 2
	12.Clients
	13.Footer

	
-----------------------------------------------------------------------------------*/
/*--------------------------------*/
/*           1.Default
/*--------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800|Poppins:100,200,300,400,400i,500,600,700,800,900');

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: "Bahij Halvetica";
  src: url("./assets/fonts/bahij_helvetica_neue_bold_by_bahijvirtualacademy-dammcmt_0.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Bahij Halvetica";
  src: url("./assets/fonts/Bahij_Helvetica_Neue-Light_1.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Bahij Halvetica";
  src: url("./assets/fonts/bahij_helvetica_neue_roman_by_bahijvirtualacademy-dammd50_0.ttf");
  font-weight: normal;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/images/loader.gif);
}

.alignleft {
  float: left;
  margin-right: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0 solid
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 600;
  color: #143d3c;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  margin: 0 0 15px;
  font-weight: 300;
  color: #143d3c;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', "Bahij Halvetica", "Segoe UI", Arial, sans-serif;
}

body {}

a {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #143d3c;
}

a:hover {
  text-decoration: none;
  color: #4484CE;
}

a.yellow:hover {
  text-decoration: none;
  color: #4484CE;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


.btn-red {
  background: #f33f4c;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  padding: 11px 22px;
}

.btn-red:hover {
  background: #ff9b0c;
  color: #fff;
}

.btn-yellow {
  background: #ff9b0c;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  padding: 11px 22px;
}

.btn-yellow:hover {
  background: #f33f4c;
  color: #fff;
}

.btn-transparent {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  padding: 11px 22px;
}

.btn-transparent:hover {
  background: #fff;
  color: #363636;
  border: 1px solid #fff;
}

.section-padding {
  padding: 100px 0 85px;
  overflow: hidden;
  position: relative;
}

.section-padding-gray {
  padding: 100px 0 85px;
  overflow: hidden;
  background: #edf5ff;
  position: relative;
}

.section-padding-light {
  background: #f7f7f7;
  padding: 100px 0 85px;
  overflow: hidden;
  position: relative;
}

.section-title {
  margin-bottom: 35px;
}

.section-title hr {
  max-width: 50px;
  border-color: #4484CE;
  border-width: 3px;
}

.section-title h2 {
  font-weight: 600;
}

.section-title h2 span {
  font-weight: 300;
}

.section-title h6 {
  font-weight: 600;
  color: #4484CE;
}

p {
  color: #888;
  line-height: 26px;
  font-size: 14px;
}

ul li,
ol li {
  color: #747474;
  line-height: 26px;
  font-size: 14px;
}

/*--------------------------------*/
/*           2.Navbar
/*--------------------------------*/


.navbar-1 .navbar-toggler-icon,
.fixed-top .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-1 {
  background-color: transparent;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  font-size: 14px;
}

body[dir=rtl] .navbar-nav {
  margin-right: 30px;
}

.navbar-1 ul li a.nav-link {
  margin: 0 15px 0 0;
}

.navbar-1 ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.navbar-1 ul li:hover a {
  color: #505050;
  background: transparent;
}

.navbar-1 .dropdown-item:focus,
.navbar-1 .dropdown-item:hover {
  background: #fff;
  color: #4484CE;
}

.navbar-1 ul li ul.dropdown-menu>li:hover>a {
  color: #4484CE;
  background: #fff;
}

.navbar-1 .collapse ul>li:hover>a {
  color: #4484CE;
}

.fixed-top {
  background: #fff !important;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  font-size: 14px;
}

.fixed-top ul li a.nav-link {
  margin: 0 15px 0 0;
}

.fixed-top ul li a {
  color: #505050;
  font-weight: 500;
  font-size: 14px;
}

.fixed-top ul li:hover a {
  color: #505050;
  background: transparent;
}

.fixed-top .dropdown-item:hover,
.navbar-1 .dropdown-item:hover {
  background: #fff;
  color: #4484CE;
}

.fixed-top ul li ul.dropdown-menu>li:hover>a {
  color: #4484CE;
  background: #fff;
}

.fixed-top .collapse ul>li:hover>a {
  color: #4484CE;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block;
  border-radius: 0;
}






/*Search */
.fixed-top ul li a i.icofont-search {
  color: #505050;
}

.popup-box-on {
  display: block !important;
}

.off {
  display: none;
}

.chat_box .chat_message_wrapper ul.chat_message>li+li {
  margin-top: 4px;
}

#search.open {
  opacity: 1;
  transform: translate(0px, 0px) scale(1, 1);
}

#search {
  background-color: #fff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 2000;
}

#search .close {
  color: #ff9b0c;
  font-size: 40px;
  opacity: 1;
  padding: 10px 17px;
  position: fixed;
  right: 15px;
  top: 15px;
}

button.close {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  cursor: pointer;
}

.close {
  float: right;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
}

#search input[type="text"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #333;
  font-size: 50px;
  font-weight: 300;
  margin: -51px auto 0;
  outline: medium none;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

#search .btn {
  left: 50%;
  margin-top: 60px;
  padding: 10px 50px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}

/*--------------------------------*/
/*           3.Header
/*--------------------------------*/
.header-1 {
  min-height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body[dir=ltr] .marginLTR {
  margin-right: auto;
}

body[dir=ltr].navbar-collapse {
  display: flex;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    padding-left: 10px;
  }
}

.header-1-text {
  margin: 30% 0 0 0;
  text-align: center;
}

.header-1-text h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
  color: #fff;
  margin-bottom: 30px;
}

.header-1-text h5 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 30px 0;
  line-height: 30px;
}

.header-inner {
  background-image: url(assets/images/header-1.png);
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-inner-text {
  margin: 12% 0 0 0;
  text-align: center;
}

.header-inner-text h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
  color: #fff;
  margin-bottom: 30px;
}

.header-inner-text h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 30px 0;
  line-height: 30px;
}

.breadcrumb-link {
  background: none;
  color: #fff;
}

.breadcrumb-link:hover {
  color: #ff9b0c
}

/*--------------------------------*/
/*           4.Features
/*--------------------------------*/
.features {
  margin-top: -60px;
}


.np-news-card {
  position: relative;
  width: 100%;
  padding-right: 7px;
  padding-left: 7px;
  cursor: pointer;
}

.np-news-card-wrapper {
  height: 250px;
  border: 1px solid #b9b9b9;
}

.card-img {
  height: 100%;
}

.news-date {
  top: 0;
  position: absolute;
  right: 0;
  margin-right: 7px;
  background-color: #3ba6de;
  color: #fff;
  padding: 1% 5%;
  text-align: center;
}

.news-date p {
  margin: 0;
}

.news-date h4 {
  margin: 0;
}

.contents {
  position: absolute;
  height: 40%;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 7px;
  padding: 8px;
  width: calc(100% - 30px);
  overflow: hidden;
}

body[dir=rtl] .bg-gradient {
  background: linear-gradient(to left, #3ba6de, rgba(39, 35, 97, 0) 100%) !important;
}

.bg-gradient {
  background: linear-gradient(to right, #3ba6de, rgba(39, 35, 97, 0) 100%) !important;
}



.features-cont {
  background: #fff;
  box-shadow: 0px 17px 35px rgba(74, 74, 115, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
  padding: 10px;
  /* padding: 15px; */
}

.features-cont i {
  font-size: 22px;
  margin: 0 0 15px 0;
  display: inline-block;
}

.features .bg-color-1 {
  background: #ff9b0c;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.features .bg-color-2 {
  background: #f33f4c;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.features .bg-color-3 {
  background: #1b62db;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.features-cont a i {
  font-size: 22px;
  margin: 0px;
  display: inline-block;
}

/*--------------------------------*/
/*           5.About us
/*--------------------------------*/
.about h6 {
  color: #1b62db;
  background: #e5f7ff;
  display: inline-block;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

/*--------------------------------*/
/*           6.Caption
/*--------------------------------*/
.caption-cont {
  background: #f33f4c;
  padding: 30px;
}

.caption-cont h2 {
  color: #fff;
  font-weight: 500;
}

.caption-cont h6 {
  color: #fff;
  font-weight: 300;
}

.caption-cont a {
  display: inline-block
}

/*--------------------------------*/
/*           7.Services
/*--------------------------------*/
.services h6 {
  color: #1b62db;
  background: #e5f7ff;
  display: inline-block;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
}

.service {
  background: #fff;
  box-shadow: 0px 17px 35px rgba(74, 74, 115, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
  padding: 30px;
  margin: 15px auto;
}

.service i {
  font-size: 22px;
  margin: 0 0 15px 0;
  display: inline-block;
}

.services .bg-color-1 {
  background: #ff9b0c;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.services .bg-color-2 {
  background: #f33f4c;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.services .bg-color-3 {
  background: #1b62db;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
}

/*--------------------------------*/
/*           8.Team
/*--------------------------------*/
.team h6 {
  color: #1b62db;
  background: #e5f7ff;
  display: inline-block;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.member {
  background: #fff;
  box-shadow: 0px 17px 35px rgba(74, 74, 115, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
  margin: 15px auto;
}

.member img {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  transition: clip-path 1s;
}

.member:hover img {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.member .member-text {
  padding: 30px;
}

/*--------------------------------*/
/*           9.Portfolio
/*--------------------------------*/
.portfolio h6 {
  color: #1b62db;
  background: #e5f7ff;
  display: inline-block;
  padding: 6px 20px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.portfolio-item {
  position: relative;
  margin-bottom: 30px;
}

.portfolio-content {
  text-align: center;
  position: absolute;
  left: 30px;
  bottom: 45px;
  right: 30px;
  background: #eff2ff;
  padding: 25px 30px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio-item:hover .portfolio-content {
  bottom: 30px;
  opacity: 1;
}

.portfolio-content h3 {
  font-size: 16px;
  font-weight: 600;
  color: #fc4d4a;
}

.portfolio-content p {
  font-size: 14px;
  /* font-family: 'Poppins', sans-serif; */
  color: #333;
}

.portfolio-content p span {
  color: #fc4d4a;
  margin-right: 3px;
}

.portfolio-btn {
  text-align: center;
  margin-top: 40px;
}


.portfolioFilter {
  margin: 0px 0px 10px 0px;
  overflow: hidden;
  padding: 15px 10px;
  color: #45bbff;
}

.portfolioFilter a {
  color: #777;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolioFilter a.current {
  color: #ff9b0c;
  font-weight: 700;
}

.portfolioContainer a img {
  margin: 15px auto;
  width: 100%;
  height: 100%;
}

.portfolioContainer1 a img {
  margin: 0px auto;
  width: 100%;
  height: 100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}



/*--------------------------------*/
/*           10.Blog
/*--------------------------------*/

.recentposts h6 {
  color: #1b62db;
  background: #e5f7ff;
  letter-spacing: 2px;
  display: inline-block;
  padding: 6px 20px;
  font-weight: 400;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.blog-item {
  margin: 15px 0;
}

.blog-content {
  padding: 15px 20px;
  border: 1px solid #eaeaea;
  border-top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  max-height: 230px;
  overflow: hidden;
}

.blog-title h3 {
  font-size: 18px;
  max-height: 45px;
  overflow: hidden;
}

.blog-title h3 a {
  color: #333;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.blog-title h3 a:hover {
  color: #3ba6de;
}

.blog-title p {
  margin-top: 10px;
  margin-bottom: 20px;
  max-height: 90px;
  text-align: justify;
  position: relative;
  overflow: hidden;
}

.blog-meta {
  overflow: hidden;
  padding-bottom: 15px;
}

.blog-author h4 {
  font-size: 16px;
  color: #333;
  margin: 0 0 5px 0;
  font-weight: 500;
}

.blog-author h5 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: #999999;
}

.blog-date {
  font-size: 13px;
  font-weight: 500;
  /* font-family: 'Poppins', sans-serif; */
  background: #2174b8;
  color: #fff;
  line-height: 18px;
  padding: 5px 10px;
  text-align: center;
  padding-top: 6px;
}

.blog-date {
  float: right;
}

.blog-author {
  float: left;
  position: relative;
}

.blog-item:hover .blog-content {
  -webkit-box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
}

.sidebar .widget {
  padding: 30px;
  border: 1px solid #eaeaea;
  margin: 15px 0 30px;
}

.sidebar .widget h3 {
  font-size: 18px;
}

.sidebar .widget hr {
  border-bottom: 2px solid #f33f4c;
  width: 30px;
  margin: 0;
}

.sidebar .widget ul {
  margin: 0px;
  padding: 0px;
}

.sidebar .widget ul li {
  border-bottom: 1px solid #eaeaea;
  color: #667286;
  margin: 0;
  overflow: hidden;
  padding: 15px 0;
  padding-top: 15px;
  position: relative;
  font-size: 14px;
}

.sidebar .widget ul li:last-child {
  border-bottom: none;
}

.sidebar .widget ul li a {
  color: #667286;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-transform: capitalize;
  transition: .3s;
}

.sidebar .widget ul li a:hover {
  color: #ff9b0c;
}

.sidebar .widget .tagcloud {
  padding: 15px 0 0 0;
}

.sidebar .widget .tagcloud a {
  background: #f7f7f7 none repeat scroll 0 0;
  color: #6b7b98;
  display: inline-block;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1;
  padding: 12px 15px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.sidebar .widget .tagcloud a:hover {
  background: #ff9b0c;
  color: #fff;
}


.blog-title h2 {
  font-size: 28px;
  margin-top: 15px;
}

.blog-post-tag {
  background: #fff;
  padding: 0;
  padding-top: 0;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 30px;
}

.blog-post-tag span {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 18px;
  color: #143d3c;
  font-weight: 600;
  display: block;
  margin-bottom: 17px;
}

.blog-post-tag>a {
  background: #f7f7f7 none repeat scroll 0 0;
  color: #6b7b98;
  display: inline-block;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 1;
  padding: 12px 15px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.blog-post-tag>a:hover {
  background: #ff9b0c;
  color: #fff;
}

.blog-details-meta span {
  font-size: 14px;
  margin: 5px 10px 5px 0;
  display: inline-block;
  font-weight: 600;
}

.blog-details-meta span a:hover {
  color: #ff9b0c;
}

blockquote {
  background: #f7f7f7;
  border-left: 4px solid #f33f4c;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  padding: 30px;
}




.post-comments {
  border-bottom: 1px solid #eaedff;
  margin-bottom: 42px;
  padding-bottom: 46px;
  margin-top: 50px;
}

.blog-coment-title h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.comments-avatar {
  float: left;
}

.comments-avatar img {
  width: 100px;
  margin-right: 20px;
}

.latest-comments ul {
  padding: 0px;
  list-style-type: none;
}

.latest-comments li:first-child .comments-box {
  border-top: 0;
  padding-top: 0;
}

.latest-comments li:last-child .comments-box {
  border-bottom: 0;
  padding-bottom: 0;
}

.latest-comments li.children {
  margin-left: 100px;
}

.comments-box {
  border-top: 1px solid #eaedff;
  padding: 30px 0;
}

.comments-text {
  overflow: hidden;
  padding-top: 4px;
}

.comments-text p {
  margin-bottom: 0;
  margin-top: 8px;
}

.avatar-name h5 {
  font-size: 18px;
  margin-bottom: 7px;
}

.avatar-name span {
  color: #086ad8;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.avatar-name {
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
}

.reply {
  color: #6f7172;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  line-height: 1;
  margin-top: 4px;
  position: absolute;
  right: 0;
  top: 0;
}

.reply:hover {
  color: #ff9b0c;
}

.reply i {
  margin-right: 5px;
}

.post-comments-title {
  margin-bottom: 39px;
}

.post-comments-title h2 {
  font-size: 26px;
  color: #140a20;
  margin-bottom: 0;
}

.conatct-post-form {
  background: #f5f5f5;
  padding: 50px;
}

.conatct-post-form input {
  border: none;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 30px;
  width: 100%;
  font-size: 14px;
  color: #a7a7c1;
}

.conatct-post-form textarea {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form input::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form input::placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form textarea::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form textarea::placeholder {
  color: #a7a7c1;
  font-size: 14px;
}


/*--------------------------------*/
/*           11.Caption 2
/*--------------------------------*/
.caption2 {
  background: #e5f7ff;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 100px 0 75px;
}

.caption2 h2 {
  font-size: 38px;
}

.caption2 p {
  opacity: 0.9;
}

.caption2 .number {
  font-size: 55px;
  font-weight: 600;
}




/*--------------------------------*/
/*           12.Clients
/*--------------------------------*/
.clients {
  padding: 30px;
  position: relative;
}

.clients-cont {
  background: #fff;
  box-shadow: 0px 17px 35px rgba(74, 74, 115, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.07);
  padding: 0px;
}

/*--------------------------------*/
/*           13.Footer
/*--------------------------------*/
.footer {
  background: #2174b8;
  padding: 155px 0 10px;
  margin: -80px 0 0 0;
}

.img-footer {
  max-width: 100%;
  height: auto
}

.footer h5 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 0px;
}

.footer hr {
  margin-bottom: 1rem;
  border-top: 2px solid #ff9b0c;
  width: 100%;
  display: inline-block;
}

.footer p {
  color: #fff;
}

.footer span {
  padding: 10px;
  color: #fff;
}

body[dir=rtl] .footer p {
  color: #fff;
  font-size: 24px;
}

.footer i {
  color: #ff9b0c;
  font-size: 16px;
  margin: 0 10px 0 0;
}

.footer ul.links {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 0;
}

.footer ul.links li a {
  color: #fff;
  width: 50%;
}

.footer ul.links li a:hover {
  color: #ff9b0c;
}

/* .footer ul.links li a:before {
  color: #ff9b0c;
  content: "\eab8";
  font-family: Icofont;
  float: left;
  margin-right: 2px;
} */

.footer ul.social {
  list-style-type: none;
  padding: 0;
}

.footer ul.social li {
  display: inline-block;
}

.footer ul.social li a:hover i {
  color: #fff;
}

.footer .logo {
  margin: 0 0 30px 0;
}

hr.copyright {
  margin: 50px 0 20px 0;
  width: 100%;
  border-top: 1px solid #1c3255;
}
