.blog-details {
  padding: 15px 20px;
  border: 0.1px solid #eaeaea;
  /* border-top: 0; */
  transition: 0.3s;
  /* max-height: 230px;
      overflow: hidden; */
}

.blog-title-body p {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: justify;
  position: relative;
}
