<header id="header" class="header-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner-text">
                    <h1 class="text-center">News Details Page</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="blog" class="recentposts section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="blog-item">
                            <div class="blog-details">
                                <div class="blog-title-body mt-3">
                                    <h2>News Details Title</h2>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam sit cumque
                                        repellat mollitia molestiae, eaque beatae, saepe sequi quidem dignissimos ex
                                        quasi libero hic harum placeat provident. Excepturi, fugit at!</p>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>