<header id="header" class="header-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner-text">
                    <h1 class="text-center">{{ 'NEWS-DETAILS' | translate }} </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="blog" class="recentposts section-padding">
    <div class="container">
        <div class="row" *ngIf="newsDetails; else noData">
            <div class="col-lg-12 col-md-12">
                <div class="blog-item">
                    <div class="blog-details">
                        <div class="blog-details-meta mt-3 mb-3">
                            <span><i class="icofont-calendar"></i> {{newsDetails?.createdMonth}}
                                {{newsDetails?.createdDay}},
                                {{newsDetails?.createdYear}} </span>
                        </div>
                        <div class="blog-title-body">
                            <h2>{{ newsDetails?.title }}</h2>
                            <p [innerHTML]="newsDetails?.contents | parsehtml | safe"></p>

                        </div>

                    </div>


                </div>
            </div>
        </div>
        <ng-template #noData>
            <div class="">
                <div class="jumbotron no-data">
                    <div [class.dot-falling]="loading"></div>
                    <h4 *ngIf="!loading" class="text-center">{{ 'NODATA' | translate }}</h4>
                </div>
            </div>
        </ng-template>
    </div>
</div>